/* #conBox */
#conBox {width: 100%; height: auto; min-width: 960px; max-width: 1280px; min-height: 100%; margin:auto; padding:5rem; box-sizing:border-box; background-color:$white; overflow:hidden;
   h2 {@include hidden;}
   .con_area {width: 100%; height: auto; min-height: 25rem; padding: 3rem; box-sizing:border-box;
      h3 {width: 100%; height: auto; margin:auto; margin-bottom: 2rem; font-weight: bold; text-align:center;}
   }//.con_area

   #work {
      ul {
         h4 {@include hidden;}
      }
      .work_category {width: 33%; min-width: 21.25rem; margin:auto; margin-bottom: 1rem; @include clearfix;
         li {float:left; width: 7rem; height: 1.875rem; line-height: 1.875rem; text-align:center; font-size: 1.1rem; @include divider;
            a {display:block; width: 80%; height: 100%; margin:auto; }
         &.action {
            a {background-color:$active; color: $white;}
         }//li.action
         }
      }//.work_category
      .work_list {width: 100%;}
   }


   #others {overflow:hidden; max-height: 25rem;
      .slide_picture {float:left; width:30%; height: 18.75rem; margin-right: 1rem; background-color:$main;}
      .slide_guide {float:left; width: 60%; height: 18.75rem; padding-bottom: 3rem; overflow-x: scroll; overflow-y:hidden;
         h4 {@include hidden;}
         ul {width: 400%; height: 18.75rem; @include clearfix;}
         li {float:left; width: 250px; height: 100%; margin-right: 1.25rem; background-color: $mainF; opacity:0.5; transition:all 500ms ease;}
         li.action {width: 500px; opacity:1;}
      }//.slide_guide
   }//#others

}//#conBox
